.cnav{
    font-family: 'Oswald', sans-serif;
}

.navbar{
    margin-bottom: 0px !important;
}

.back{
    background-image: url("../image/png/rectangle6.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    padding-top: 74px;
    padding-bottom: 60px;
}
.ct{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     color: #EB5956;
     display: flex;
     justify-content: flex-end;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    float: right;
}
input{
    background: #FFFFFF;
    border-radius: 50px;
    width: 370px;
    height: 53px;
    padding-left: 25px;
    border: navajowhite;
    font-size: 14px;
}

.Recherche-Icone:hover{
	Color: #000000;
}
.Recherche-Icone{
	
	Color:#000000;;
}
.Recherche-Barr{
    position: relative;
}
.fa-search{
    position: absolute;
    top: 20px;
    left: 330px;
}
.h{
    padding-top: 25px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}hr{
    color: #000000;
}
.red{
    color: #EB5956;
}

.hr1{
    
    width: auto;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

color: #4F4F4F;
}
.s2{
    background: #F2F5F7;
    width: 100%; 
}
.real{
    
    padding-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.t{
    color: #EB5956;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
}
.tx{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F4F4F;
    padding-bottom: 50px;
}
.s{
    /* padding-top: 40px; */
    padding-bottom: 70px;
}
.ss{
    padding-bottom: 0px;
}

 .s3{
    width: 100%;
    background: #FFFFFF;
}

.fl{
    padding-top: 100px;
    padding-bottom: 50px;
}


.txt{
 

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.txt1{
  
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #4F4F4F;
}
.pic{
    width: 61px;
     height: 61px;
}
.btn.bb{
   
    color: white;
    background-color: #EB5956;
   border-radius: 50px;
}
.btn.bbn{
    color: white;
    background-color: #000000;
   border-radius: 50px;
}

.btn.b3{
    width: 190px;
    height: 50px;
    color: white;
    background-color: #EB5956;
    border-radius: 50px;
} 
.ka{
    display:flex; 
    justify-content: center;
    padding-bottom: 20px;

}
.s4{
    background: #F2F5F7;
    width: 100%;
    position: relative;
    height: 160px;
}
.cc{
   
    margin-top: 50px;
    margin-bottom: 70px;
}
.ctt{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    padding-bottom: 25px;
color: #4F4F4F;
}
.cl{
   padding-bottom: 10px;
}
.btn{
    width: 174px;
    height: 51px;
    
}
.btn.bn{
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.rond{
    position: absolute;
    width: 57px;
    height: 57px;
    color: white;    
    border-radius: 50px;
    right: 11px;
    top: 15px;
    /* colorMain */
    background: #EB5956;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.r0{
    display: flex;
    justify-content: center;
}
.fr{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    height: 60px;
}
.last .fab{

    color: #EB5956;
}
.cc{
    position: relative;
}
.footer-col{
    display: flex;
    justify-content: flex-end;
}
.slideshow-container {
    position: relative;
    margin: auto;
    
  }
  
  .mySlides {
    display: flex;
  }
 
  .fade > img{
      width: 40px;
      height: 50px;
      color: #DADADA;
      margin-top: 30px;

  }
  .logo{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;

  }
 
   .s6{
    width: 100%;
    left: -1px;
    top: 3315px;
    
    /* bg */
    background: #F2F5F7;
  }
.tg{
    
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    padding-top: 10px;
    
    /* identical to box height, or 136% */
    text-align: center;
    
    /* colorMain */
    color: #EB5956;
}
.ll{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
}
.x{
    padding-top: 40px;
    padding-left: 40px;
}
.foot .fab{
    color: black;
    padding-bottom: 20px;
}
.foot{
    border-top: #E0E0E0 solid 1px;
    border-bottom: #E0E0E0 solid 1px;
}
.s8{
    width: 100%;
    left: 0px;
    top: 4974px;

    /* bg */
    background: #F2F5F7;
}

.fin{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.ns{
    margin-left: 50px;
}
.bt{
    width: 190px;
    height: 50px;
  
    
    /* colorMain */
    color: white;
    background: #EB5956;
    border-radius: 50px;
}
.conseil{
    width: 370px;
     height: 514px;
}
.ptx{
    padding-top: 20px;
}
.btn1{
    color: white;
    background: #EB5956;
}
.carousel-control.left.hh  {
    background-image: none !important; 
}
.carousel-control.right.hh  {
    background-image: none !important; 
}
.glyphicon.glyphicon-chevron-right.hj{
    color: #BDBDBD;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 5px;
    padding-top: 15px;

}
.glyphicon.glyphicon-chevron-left.hj{
    color: #BDBDBD;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 5px;
    padding-top: 15px;

}
@media (max-width:1200px) {
    .imgg{
        width: 100%;
    }
}
 @media (max-width: 992px) {
    .fl{
        display: flex;
        justify-content: space-around;
    }
    .c2{
        padding-left: 20px;
    }
    .imgg{
        width: auto;
        padding-left: 80px;
   }
}
@media (max-width:768px ) and (min-width:575px){
 .imgg{
     width: 100%;
 }
 .fl{
     padding-top: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .ll{
    display: flex;
    flex-wrap: wrap;
}
}
@media (max-width:576px) and (min-width:481px){
    .trt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
        
    }
    .real{
        margin-bottom: 20px;
    }
    .cl{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .ka{
        display: flex;
        justify-content: space-between;
    }


    .btn{
        width: 90px;
    }
    .btn.bbn{
        color: white;
        background-color: #000000;
        width: 190px;
        height: 50px;
         border-radius: 50px;
    }
    .cc{
        width: auto;
        margin-left: 100px;
    }
    .btn.bn{
        border-radius: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 190px;
    }
    .ll{
        display: flex;
        flex-wrap: wrap;
    }
   
}
@media (min-width:320px) and (max-width:480px) {
    input{
        width: 270px;
        height: 53px;
        padding-left: 25px;
    }
   
    .fa-search{
        left: 230px;
    }
    .imgg{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .btn.bbn{
        color: white;
        background-color: #000000;
        /* width: 190px;
        height: 50px; */
        width: 100%;
       border-radius: 50px;
    }
    .cc{
        width: auto;
        margin-left: 10px;
    } 
    .footer-col{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .fr{
        flex-wrap: wrap;
    }
    .cl{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .ii{
        width: 100%;
    }
    .ll{
        display: flex;
        flex-wrap: wrap;
    }
  
}



/* 768 --  993 ,, 710--775 ,, 479-- 325 */