.cnav{
    font-family: 'Oswald', sans-serif;
}
.navbar2{
    position: relative;

}
.navbar-nav{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 700px;

}
.back{
    background-image: url("../image/png/rectangle6.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    padding-top: 74px;
    padding-bottom: 60px;
}

input{
    background: #FFFFFF;
    border-radius: 50px;
    width: 370px;
    height: 53px;
    padding-left: 25px;
    border: navajowhite;
    font-size: 14px;
}

.Recherche-Icone:hover{
	Color: #000000;
}
.Recherche-Icone{
	
	Color:#000000;;
}
.Recherche-Barr{
    position: relative;
}
.fa-search{
    position: absolute;
    top: 20px;
    left: 330px;
}
.h{
    padding-top: 25px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}hr{
    color: #000000;
}
.red{
    color: #EB5956;
}

.hr1{
    width: 456px;
    height: 60px;
 

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

color: #4F4F4F;
}
.s2{
    background: #F2F5F7;
    width: 100%; 
}
.real{
    
    padding-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.t{
    color: #EB5956;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
}
.tx{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F4F4F;
    padding-bottom: 50px;
}
.s{
    padding-top: 40px;
    padding-bottom: 70px;
}
.ss{
    padding-bottom: 30px;
}

 .s3{
    width: 100%;
    background: #FFFFFF;
}

.fl{
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
}

.txt{
    width: 359px;
    height: 31px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.txt1{
    width: 359px;
    height: 85px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #4F4F4F;

}
.bb{
    width: 190px;
    height: 50px;
    color: white;
    background-color: #EB5956;
}
.b3{
    width: 190px;
    height: 50px;
    color: white;
    background-color: #EB5956;
    border-radius: 50px;
    margin-left: 100px;
} 
.s4{
    background: #F2F5F7;
    width: 100%;
}
.cc{
    margin-top: 50px;
    margin-bottom: 70px;
}
.cl{
    width: 370px;
    height: 279px;
}
.btn{
    width: 174px;
    height: 51px;
    
}
.rond{
    position: absolute;
    width: 57px;
    height: 57px;
    color: white;    
    border-radius: 50px;
    left: 289px;
    top: 15px;
    /* colorMain */
    background: #EB5956;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.r0{
    display: flex;
    justify-content: center;
}
.fr{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    height: 60px;
}
.last .fab{
    padding-top: 15px;

    color: #EB5956;
}
.cc{
    position: relative;
}
.footer-col{
    display: flex;
    justify-content: flex-end;
}
.slideshow-container {
    position: relative;
    margin: auto;
    
  }
  
  .mySlides {
    display: flex;
  }
  
  
  .fade > img{
      width: 40px;
      height: 50px;
      color: #DADADA;
      margin-top: 30px;

  }
  .logo{
    display: flex;
    justify-content: space-between;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }  .s6{
    width: 100%;
    left: -1px;
    top: 3315px;
    
    /* bg */
    background: #F2F5F7;
  }
.tg{
    
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    padding-top: 10px;
    
    /* identical to box height, or 136% */
    text-align: center;
    
    /* colorMain */
    color: #EB5956;
}
.ll{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
}
.x{
    padding-top: 40px;
    padding-left: 40px;
}
.foot .fab{
    color: black;
    padding-bottom: 20px;
}
.foot{
    border-top: #E0E0E0 solid 1px;
    border-bottom: #E0E0E0 solid 1px;
}
.s8{
    width: 100%;
    left: 0px;
    top: 4974px;

    /* bg */
    background: #F2F5F7;
}

.fin{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.ns{
    margin-left: 50px;
}
.bt{
    width: 190px;
    height: 50px;
  
    
    /* colorMain */
    color: white;
    background: #EB5956;
    border-radius: 50px;
}
.btn1{
    color: white;
    background: #EB5956;
}
